.img-box{
	column-count: 4;
	column-gap: 3px;
	width: 80%;
	max-width: 1400px;
	marks: auto;
}
.image{
	max-width: 100%;
	display: block;
}
.img-wrapper{
	display: block;
}

.img-wrapper+.img-wrapper{
	margin: 3px;
}